.lead {
    max-width: 984px;
    margin: 56px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Для экранов от 769px до 1024px(контрольная точка)
т вертикального до горизонтального положения планшета*/

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}


/*Для экранов от 426px до 768px(контрольная точка)
от большого смартфона до вертикального положения планшета*/

@media screen and (max-width:768px) {
    .lead {
        max-width: 768px;
    }
}


/*Для экранов от 320px(контрольная точка) до 425px
мобильные устройства*/

@media screen and (max-width:425px) {
    .lead {
        max-width: 320px;
    }
}