.intro {
    max-width: 690px;
    margin: 92px auto 0 148px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
        min-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
        min-width: 288px;
    }
}