.intro {
    max-width: 690px;
    margin: 92px auto 0 148px;
    display: flex;
    flex-direction: column;
}


/*Для экранов от 1024px(контрольная точка) до 1279px
для небольших ноутбуков*/

@media screen and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}


/*Для экранов от 768px(контрольная точка) до 1023px
от вертикального до горизонтального положения планшета*/

@media screen and (max-width: 1023px) {
    .intro {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
        min-width: 720px;
    }
}


/*Для экранов от 320px(контрольная точка) до 767px
от мобильных устройств до вертикального положения планшета*/

@media screen and (max-width: 767px) {
    .intro {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
        min-width: 288px;
    }
}