.lead__images {
    max-width: 984px;
    max-height: 615px;
    margin: 64px auto 0 auto;
    object-fit: contain;
}


/*Для экранов от 769px до 1024px(контрольная точка)
от вертикального до горизонтального положения планшета*/

@media screen and (max-width: 1024px) {
    .lead__images {
        margin-top: 56px;
        max-width: 100%;
        height: 100%;
    }
}


/*Для экранов от 426px до 768px(контрольная точка)
от большого смартфона до вертикального положения планшета*/

@media screen and (max-width: 768px) {
    .lead__images {
        margin-top: 56px;
        max-width: 100%;
        height: 100%;
    }
}


/*Для экранов от 320px(контрольная точка) до 425px
мобильные устройства*/

@media screen and (max-width: 425px) {
    .lead__images {
        margin-top: 40px;
        max-width: 100%;
        height: 100%;
    }
}