.lead__images {
    max-width: 984px;
    max-height: 615px;
    margin: 64px auto 0 auto;
    object-fit: contain;
}

@media screen and (max-width: 1024px) {
    .lead__images {
        margin-top: 56px;
        max-width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__images {
        margin-top: 56px;
        max-width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 425px) {
    .lead__images {
        margin-top: 40px;
        max-width: 100%;
        height: 100%;
    }
}