.place__website {
    max-width: 456px;
    align-self: flex-end;
    justify-self: start;
}


/*Для экранов от 320px(контрольная точка) до 425px*/

@media screen and (max-width: 425px) {
    .place__website {
        margin-left: 16px;
    }
}