.intro__title {
    max-width: 690px;
    max-height: 70px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}


/*Для экранов от 426px(контрольная точка) до 768px
от большого смартфона до вертикального положения планшета*/

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
    }
}


/*Для экранов от 321px до 425px(контрольная точка)
мобильные устройства*/

@media screen and (max-width: 425px) {
    .intro__title {
        max-width: 425px;
        font-size: 32px;
        line-height: 35px;
    }
}


/*Для экрана от 320px(контрольная точка)
мобильные устройства*/

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
    }
}